* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1180e6;
  --backgroud-color: #f2890d;
  --text-color: black;
  --box-color: #b0a3a3;
  --header-width: 25.8rem;
  font-size: 62.5%;
}

.button {
  text-align: center;

  color: white;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 20rem;
  height: 4.2rem;
  border: 0.3rem solid black;
  border-radius: 2rem;
}

.button:hover {
  cursor: pointer;
}

/* ##################  BODY  ####################### */
body {
  background: var(--backgroud-color);
  font-family: 'Squada One', cursive;
}

/* ##################  HEADER  ####################### */

header {
  width: var(--header-width);
  position: absolute;
  left: calc(50% - calc(var(--header-width) / 2));
  margin-top: 6.6rem;
  z-index: 100;
}

header h1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
  line-height: 7.4rem;
  text-transform: uppercase;

  padding: 3.8rem 4.8rem;
  background: var(--primary-color);
  border-radius: 2rem;
}

/* ##################  MAIN  ####################### */

main {
  background: white;
  width: 32rem;
  margin-inline: auto;
  border-radius: 2rem;
  padding-top: 7.5rem;
  transform: translateY(calc(6.6rem + 7.5rem));
  display: flex;
  flex-direction: column;
}

/* ##################  JOGADOR  ####################### */

.jogador {
  padding: 0 1rem;
  text-align: center;
}

.boneco {
  width: 15rem;
  height: 15rem;
  margin-inline: auto;
}

.jogador label {
  font-family: 'Press Start 2P', cursive;
  display: block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.jogador input,
.jogador select {
  width: 30rem;
  height: 3.2rem;
  margin-bottom: 5.9rem;
}

.jogador .button {
  margin-bottom: 12.1rem;
  background: var(--primary-color);
}

/* ##################  JOGO  ####################### */

#jogo {
  padding: 0 1rem;
  text-align: center;
}

.saldacao {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;

  margin-bottom: 3.3rem;
}

#jogo label {
  font-family: 'Press Start 2P', cursive;
  display: block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: black;
  margin-bottom: 1.9rem;
}

#jogo input {
  width: 30rem;
  height: 4.2rem;
  margin-bottom: 5.4rem;
}

#jogo .button {
  margin-bottom: 5.4rem;
  background: var(--backgroud-color);
}

#informacao {
  margin-bottom: 7.8rem;
}

#informacao p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  color: black;
}

#informacao p:first-child {
  font-weight: 700;
}

/* ##################  FOOTER  ####################### */

footer {
  background: var(--primary-color);
  width: 32rem;
  margin-inline: auto;
  border-radius: 2rem;
  align-items: center;
  text-align: center;
  transform: translateY(calc(6.6rem + 7.5rem));
  padding-top: 1rem;
}

footer p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 1rem;
}

footer svg {
  width: 3rem;
  height: 3rem;
  transition: all 100ms;
}

footer svg:hover {
  width: 4.5rem;
  height: 4.5rem;
}

/* ##################  MEDIA QUERY  ####################### */

@media (min-width: 768px) {
  /* ##################  MAIN  ####################### */

  main {
    width: min(95vw, 1000px);
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
  }

  main:before {
    content: '';
    border: 0.5rem solid var(--box-color);
    border-radius: 0.5rem;
    align-self: stretch;
    height: 43rem;
    margin-top: calc(6.6rem);
  }

  /* ##################  JOGADOR  ####################### */

  .jogador {
    order: -1;
    width: 40%;
  }

  /* ##################  JOGO  ####################### */

  #jogo {
    width: 40%;
    margin-top: calc(6.6rem + 7.5rem);
    align-items: center;
  }

  /* ##################  FOOTER  ####################### */

  footer {
    width: min(95vw, 1000px);
    transform: translateY(calc(6.6rem));
  }
}
